

.card{
  width:90%;
  margin:30px auto 30px auto;

  .nuevoCliente{
    padding:30px;
  }
  .tipoCliente{
    form>input{
    margin-left:10px;
    }
  }
  .wrapper-compra{
  padding:30px;
  }
}

.btn-compra{
margin-top:25px;
text-align: right;
}


.btn-pagar{
margin-left:10%;
    margin-bottom: 40px;

width:80%;
height:50px;
}

